$main-color: orange;
$base-font-size:16px;
$secondary-color: rgb(55, 55, 55);

body {
    background: $main-color;
    font-size: $base-font-size;
    color: $secondary-color;
}

h1 {
    font-size: $base-font-size + 10px;
}

#color-test {
    width: 200px;
    height: 200px;
    background: $secondary-color;

}
#color-test:hover {
   background-color: lighten($secondary-color, 30);
}