$main-color: rgb(250, 229, 229);
$base-font-size: 16px;
$secondary-color: orange;
$modal-bg-color: rgba(0, 0, 0, 0.7);
$modal-content-bg-color: #fefefe;
$modal-border-color: #888;
$close-color: #aaa;

body {
    background: $main-color;
    font-size: $base-font-size;
    color: seagreen;
}

h1 {
    font-size: $base-font-size + 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "a a b"
        "c d d";
        gap: 10px;
}

.first-box {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    margin: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background: $secondary-color;
    grid-area: a;
    
    
    &.version-2 {
        background: lightskyblue;
        grid-area: b;
    }
    &.version-3 {
        background: red;
        grid-area: c;
    
    }
    &.version-4 {
        background: yellowgreen;
        grid-area: d;
    }
    &:hover {
        background: lighten($secondary-color, 30);
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal-bg-color;
}

.modal-content {
    background-color: $modal-content-bg-color;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid $modal-border-color;
    width: 80%;
}

.close {
    color: $close-color;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}